/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(35,37,51); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: orange; 
}


body {
  font-family: sans-serif;
  margin: 0;
  background-color: rgb(50,52,69);
}

main {
  display: grid;
  place-content: center;
  padding-top: 100px;
}

.todoList {
  width: 500px;
  min-height: 400px;
  text-align: center;
  background-color: rgb(35,37,51);
  border-radius: 25px;
  padding-bottom: 30px;
  margin-bottom: 50px;
}

main h1 {
  color: white;
}

input[type=text] {
  outline: none;
  border: none;
  padding: 8px;
  border-radius: 10px;
  width: 330px;
  margin-right: 10px;
}

button[type=submit] {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: orange;
  cursor: pointer;
  width: 50px;
}

hr {
  border: 1px solid orange;
}

.item {
  width: 400px;
  height: 30px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50,52,69);
  padding: 10px 0px 10px 0px;
  border-radius: 10px;
  margin-bottom: 10px;
  color: white;
}

.item p {
  margin: 0;
  margin-left: 10px;
}

.item button {
  border: none;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
  padding: 10px;
}

.check {
  background-color: orange;
  color: black;
}

.completed {
  color: rgb(153, 255, 0);
  text-decoration: line-through;
}

.delete {
  background-color: red;
  color: white;
}

.list {
  display: grid;
  place-items: center;
}